@{
    ViewData["Title"] = "Extras";
}


<div class="container">

    <div class="text-center">
        <div class="row row-cols-2">

            <div class="p-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Puestos</h5>
                        <p class="card-text">Los puestos de trabajo</p>
                        <a href="ExtraAdmin/Puesto" class="btn btn-primary">Mas info</a>
                    </div>
                </div>
            </div>

            <div class="p-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Estado</h5>
                        <p class="card-text">Estado que puede tener un usuario o proyecto</p>
                        <a href="ExtraAdmin/Estado" class="btn btn-primary">Mas info</a>
                    </div>
                </div>
            </div>

                        <div class="p-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Nacionalidad</h5>
                        <p class="card-text">Nacionalidades</p>
                        <a href="ExtraAdmin/Nacionalidad" class="btn btn-primary">Mas info</a>
                    </div>
                </div>
            </div>

            <div class="p-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Provincia</h5>
                        <p class="card-text">Provincias del pais</p>
                        <a href="ExtraAdmin/Provincia" class="btn btn-primary">Mas info</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>